<!-- import polymer-element's definition -->
<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="giftkeep-footer">
  <template>
    <link rel="stylesheet" href="/css/app.css"/>
    <div class="col-lg-12">
      <div id="appFooter">
          <ul>
              <li>Congrats Emma &amp; Sam</li>
              <li><span class="glyphicon glyphicon-heart"></span></li>
              <li><a href="mailto:robbie.c.boyd@gmail.com?subject=Sam and Emma's wedding Feature Request" title="Feature requests" target="_blank">Feature&nbsp;requests</a><li>
              <li>&middot;</li>
              <li><a href="mailto:robbie.c.boyd@gmail.com?subject=Sam and Emma's wedding Bug Report" title="Bug reporting" target="_blank">Bug&nbsp;report</a></li>
          </ul>
      </div>
  </div>
  </template>
  <script type="application/dart" src="Footer.dart"></script>
</polymer-element>
  

