<!-- import polymer-element's definition -->
<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="giftkeep-rsvp">
  <template>
    <link rel="stylesheet" href="/css/app.css"/>
      <div class="row">
        <div class="col-lg-12">
            <div id="rsvpIntro">

            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Confirm you are coming</h4>
                    <template if="{{rsvpState == RSVP_NOT_SET}}">
                        <button class="btn btn-success" on-click="{{confirmComing}}">Yes, I am coming</button>&nbsp;<button class="btn btn-primary" on-click="{{confirmNotComing}}">No, thanks</button>
                    </template>
                    <template if="{{rsvpState != RSVP_NOT_SET}}">
                        <template if="{{rsvpState == RSVP_ATTENNDING}}">
                            <button class="btn btn-success" disabled>Yes, I am coming</button>
                        </template>
                        <template if="{{rsvpState == RSVP_NOT_ATTENNDING}}">
                            <button class="btn btn-primary" disabled>No, thanks</button>
                        </template>
                        <p><br/><a title="Change your response" ng-click="changeResponse()">Change your response</a></p>
                        <template if="{{rsvpState == RSVP_ATTENNDING}}">
                            <hr />
                            <p class="lead">I will be bringing:</p>
                            <p>Please add the names of your spouse, partner etc, that you will be bringing with you.</p>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group" id="rsvpNameGroup">
                                            <input type="text" placeholder="Name" id="rsvpName" class="form-control">
                                        </div>
                                    </td>
                                    <td><button class="btn btn-sm btn-success" title="Bring this person" ng-click="addSomeone()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button></td>
                                </tr>

                                <tr ng-repeat="(key, person) in beingBrought">
                                    <td>
                                        {{person["displayName"]}}
                                    </td>
                                    <td><button class="btn btn-sm btn-danger" title="Remove this person" ng-click="removeSomeone(key)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </div>
  </template>
  <script type="application/dart" src="RSVP.dart"></script>
</polymer-element>
   