<!-- import polymer-element's definition -->
<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="../../components/changepassword/ChangePassword.html">
<link rel="import" href="../../components/removeaccount/RemoveAccount.html">
<link rel="import" href="../../components/giftmanagement/GiftManagement.html">
<link rel="import" href="../../components/rsvplist/RSVPList.html">

<polymer-element name="giftkeep-account-dashboard">
  <template>
    <link rel="stylesheet" href="/css/app.css"/>
      <div class="row">
        <div class="col-lg-12">
            <h4>My account dashboard</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-6">
              <giftkeep-changepassword></giftkeep-changepassword>
          </div>
          <div class="col-md-6 col-lg-6">
              <giftkeep-removeaccount></giftkeep-removeaccount>
          </div>
          
          <template if="{{model.isAdmin}}">
            <div class="col-md-12 col-lg-12">
                <giftkeep-giftmanagement></giftkeep-giftmanagement>
            </div>
          </template>
          <template if="{{model.isAdmin}}">
            <div class="col-md-12 col-lg-12">
              <giftkeep-rsvplist></giftkeep-rsvplist>
            </div>
          </template>
      </div>
  </template>
  <script type="application/dart" src="AccountDashboard.dart"></script>
</polymer-element>
   