<!-- import polymer-element's definition -->
<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="giftkeep-loginbox">
  <template>
    <link rel="stylesheet" href="/css/app.css"/>
    <div id="Loginbox">
      
      <template if="{{loginViewState == LOGIN}}">
        <div class="row">
          <form>
              <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="input-group input-group-sm" id="emailGroup">
                      <span class="input-group-addon">Email</span>
                      <input type="email" placeholder="" id="email" class="form-control">
                  </div>
              </div>
  
              <div class="col-sm-4 col-md-4 col-lg-3">
                  <div class="input-group input-group-sm" id="passwordGroup">
                      <span class="input-group-addon">Password</span>
                      <input type="password" placeholder="" id="password" class="form-control">
                  </div>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2">
                  <button class="btn btn-sm btn-default btn-block" on-click="{{clickLogin}}">Log in</button>
              </div>
          </form>
        </div>
        <div class="row">
            <p class="small loginStateSwitch"><a title="Forgotten your password?" on-click="{{clickLoginStateSwitch}}" data-state="{{FORGOT_PASSWORD}}">Forgotten your password?</a></p>
        </div>
      </template>
      
      <template if="{{loginViewState == FORGOT_PASSWORD}}">
        <template if="{{passwordResetSuccess}}">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="alert alert-success" role="alert">Password reset sent to <strong>{{authUserObj.email}}</strong></div>
              </div>
          </div>
        </template>
        <template if="{{!passwordResetSuccess}}">
          <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-2">
                  <div class="input-group input-group-sm" id="emailGroup">
                      <span class="input-group-addon">Email</span>
                      <input type="email" placeholder="" id="email" class="form-control">
                  </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-2">
                  <button class="btn btn-sm btn-default" ng-click="resetThePassword()">Reset my password</button>
              </div>
          </div>
        </template>
        <div class="row">
            <p class="small loginStateSwitch"><a title="Forgotten your password?" on-click="{{clickLoginStateSwitch}}" data-state="{{LOGIN}}">I know my password</a></p>
        </div>
      </template>
    
      
    </div>
  </template>
  <script type="application/dart" src="LoginBox.dart"></script>
</polymer-element>
  

