<!-- import polymer-element's definition -->
<link rel="import" href="packages/polymer/polymer.html">

<polymer-element name="giftkeep-gifts">
  <template>
    <link rel="stylesheet" href="/css/app.css"/>
      <div class="row">
        <div class="col-lg-12">
            <br/>
            <p class="lead">Below is a list of items that Sam and Emma would love to have. Please don't feel obliged to bring a gift. Many of these items are offered at more than one outlet and the URL is merely provided to make it easier to locate.</p>
            <p>You can reserve an item to reduce confusion with other guests getting the same item. It is flagged anonymously. </p>
        </div>
      </div>
      <div class="row" id="giftList">
        <!--<ng-template ng-repeat="(key, gift) in gifts">
            <div class="gift-item">
                <div class="thumbnail">
                    <img ng-src="{{gift['picture']}}" width="100%" ng-if="gift['picture'].length >= 1" />
                    <div class="caption">
                        <h3{{gift['title']}}</h3>
                        <p><strong>{{gift['title']}}</strong></p>
                        <p>
                            <a class="btn btn-xs btn-primary" href="{{gift['link']}}" target="_blank">View this item</a>
                            <ng-template  ng-if='gift["reserved"] == false'>
                                <button type="button" class="btn btn-xs btn-default" title="Reserve this" ng-click="reserveThis($event, key)" id="{{gift['id']}}" data-index="{{$index}}">Reserve this</button>
                            </ng-template>
                            <ng-template  ng-if='(gift["reserved"] == true) && (authUserObj.uid != gift["uid"])'>
                                <button type="button" class="btn btn-xs btn-warning" title="Reserved" ng-click="unreserveThis($event, key)" id="{{gift['id']}}" data-index="{{$index}}" disabled>Reserved by somebody else</button>
                            </ng-template>
                            <ng-template  ng-if='(gift["reserved"] == true) && (authUserObj.uid == gift["uid"])'>
                                <button type="button" class="btn btn-xs btn-success" title="Reserved" ng-click="unreserveThis($event, key)" id="{{gift['id']}}" data-index="{{$index}}">You've reserved this</button>
                            </ng-template>
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>-->
    </div>
  </template>
  <script type="application/dart" src="Gifts.dart"></script>
</polymer-element>
   